@import "tailwindcss";

@theme {
  --breakpoint-2k: 2400px;
  --breakpoint-lap: 1024px;
}

:root {

}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #fdfdff;
    --text-h: #f3f4f6;
    --bg: #16171d;
  }
}

body {
  margin: 0;

  background-color: #fff;
  color: var(--text);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar a{
  cursor: pointer;
}

#root {

}

.hero{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center
}

/**, body{
  background-color: #000;
  color: #f3f4f6;
}*/

@media (min-width: 768px) {

}

/* Desktop */
@media (min-width: 1024px) {

}

/* 2K and above (your previous request) */
@media (min-width: 2400px) {
  body{
    padding: 0px 20%;
  }

}




